.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__modal {
    width: 528px;
    height: 581px;
    position: relative;
    background-color: $main-background;
    padding: 40px;
    border-radius: 4px;
    transform: scale(0.7);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  &__label {
    color: $additional-color;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  &__input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: $accent-color;
    }

    &:focus {
      border-color: $accent-color;
      outline: none;
    }

    &:hover + .backdrop__svg {
      fill: $accent-color;
    }
  }

  &__svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $accent-color;
    }
  }

  &:not(.is-hidden) {
    opacity: 1;
    visibility: visible;

    .backdrop__modal {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__person,
  &__phone,
  &__email {
    position: absolute;
    width: 18px;
    height: 18px;
  }

  &__person {
    top: 108px;
    left: 53px;
  }

  &__phone {
    top: 182px;
    left: 53px;
  }

  &__email {
    top: 253px;
    left: 53px;
  }

  &__com {
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 4px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    display: block;
    margin-bottom: 20px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accent-color;
      outline: none;
    }

    &:hover {
      border-color: $accent-color;
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__checkinput {
    width: 16px;
    height: 15px;
    fill: $accent-color;

    &:hover {
      fill: $accent-color;
    }
  }

  &__span {
    color: $additional-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-left: 8.38px;
    margin-right: 4px;
  }

  &__link {
    color: $accent-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;

    &:hover {
      color: $btn-color;
    }
  }

  &__btn {
    padding: 10px 52px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $accent-color;
    text-align: center;
    color: $main-background;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $btn-color;
    }
  }

  &__close {
    background-color: $main-background;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 8px;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $accent-color;
    }
  }

  &__close .close {
    width: 18px;
    height: 18px;
  }
}
