.card {
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    @include flexbox($justify: flex-start, $align: stretch, $direction: row);
    row-gap: 15px;
    margin-bottom: 50px;
    column-gap: 8px;
    @media screen and (min-width: 480px) {
      justify-content: flex-start;
      flex-wrap: wrap;
     

    }
    @media screen and (min-width: 768px) {
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
  &__btn {
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $main-background;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
 
  }
}


