.team {
  background-color: $team-background;
  padding-top: 94px;
  padding-bottom: 94px;
  
  &__title {
    color: $text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    @include flexbox($justify: flex-start, $align: stretch, $wrap: nowrap, $direction: row);
    gap: 30px;
  }
  &__item {
    background-color: $main-background;
    flex-basis: calc((100% - 60px) / 3);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  }
  &__img {
    width: 100%;
  }
  &__box {
    margin-top: 30px;
  }
  &__captain {
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
  }
  &__desc {
    color: $additional-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
  }
  &__social-list {
    @include flexbox($align: stretch, $wrap: nowrap, $direction: row);
    gap: 10px;
    margin-bottom: 30px;
  }
  &__social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flexbox($wrap: nowrap, $direction: row);
    outline: none;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      
      .team__social-icon {
        fill: $main-background;
      }
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
    fill: $svg-color; 

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}