@charset "UTF-8";
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --accent-color: #2196f3;
  --logo-color: #000;
  --text-color: #212121;
  --additional-color: #757575;
  --footer-namber-color: rgba(255, 255, 255, 0.6);
  --footer-background: #2f303a;
  --team-background: #f5f4fa;
  --main-background: #fff;
  --svg-color:#AFB1B8;
  --second-svg-color: rgba(255, 255, 255, 0.1);
  --btn-color:#188CE8;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-nav {
  margin-left: 93px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link {
  position: relative;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -34px;
  left: 0;
  opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--additional-color);
}

.header-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--additional-color);
}

.header-mail,
.header-phone {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link:hover svg,
.header-link:focus svg {
  fill: var(--accent-color);
}

.nav-link.active {
  color: var(--accent-color);
}

.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
}

.hero-box {
  position: relative;
  text-align: center;
}

.hero-title {
  color: var(--main-background);
  font-size: 44px;
  width: 696px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  color: var(--main-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-btn:focus {
  outline: auto;
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  gap: 30px;
  display: flex;
}

.advantage-box-svg {
  background-color: var(--team-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-svg {
  width: 70px;
  height: 70px;
  fill: var(--text-color);
  margin: 25px 100px;
}

.advantages-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-text {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
  height: 294px;
}

.work-img {
  width: 100%;
}

.work-box-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.work-description {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-background);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--main-background);
  flex-basis: calc((100% - 60px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-img {
  width: 100%;
}

.team-box {
  margin-top: 30px;
}

.team-capitan {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-desc {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-svg-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.team-svg-link:hover .team-svg {
  fill: var(--main-background);
}

.team-svg-link:focus .team-svg {
  fill: var(--main-background);
}

.team-svg-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-link svg {
  vertical-align: middle;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg-link:hover,
.team-svg-link:focus {
  background-color: var(--accent-color);
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
}

.сlients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  color: var(--text-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  position: relative;
}

.clients-svg-link {
  display: block;
  height: 100%;
  width: 100%;
  padding: 16px 32px;
  border: 1px solid transparent;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg-link:hover {
  border-color: var(--accent-color);
}

.clients-svg-link:focus {
  border-color: var(--accent-color);
}

.clients-svg-link:hover .clients-svg {
  fill: var(--accent-color);
}

.clients-svg-link:focus .clients-svg {
  fill: var(--accent-color);
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: var(--svg-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list-box {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.footer-logo {
  color: var(--main-background);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.address {
  margin-top: 20px;
}

.address-link {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  border-top: 20px;
  margin-bottom: 9px;
}

.footer-item {
  margin-top: 9px;
}

.footer-link {
  color: var(--footer-namber-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-title {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: auto;
}

.footer-list-svg {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.footer-svg-link {
  background-color: var(--second-svg-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-link:hover {
  background-color: var(--accent-color);
}

.footer-svg-link:focus {
  background-color: var(--accent-color);
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}

.form-title {
  color: var(--main-background);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form-box {
  display: flex;
}

.footer-input {
  color: var(--footer-namber-color);
  width: 358px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  margin-right: 12px;
}

.form-button {
  padding: 10px 28px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-background);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.form-btn-svg {
  width: 24px;
  height: 24px;
  fill: var(--main-background);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  position: relative;
  background-color: var(--main-background);
  padding: 40px;
  border-radius: 4px;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: var(--additional-color);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-svg {
  fill: var(--accent-color);
}

.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input:focus + .modal-svg {
  fill: var(--accent-color);
}

.modal-svg-person,
.modal-svg-phone,
.modal-svg-email {
  position: absolute;
  width: 18px;
  height: 18px;
}

.modal-svg-person {
  top: 108px;
  left: 53px;
}

.modal-svg-phone {
  top: 182px;
  left: 53px;
}

.modal-svg-email {
  top: 253px;
  left: 53px;
}

.modal-com {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-com:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-com:hover {
  border-color: var(--accent-color);
}

.modal-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-checkinput {
  width: 16px;
  height: 15px;
  fill: var(--accent-color);
}

.modal-span {
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
  margin-right: 4px;
}

.modal-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-btn {
  padding: 10px 52px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--main-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  background-color: var(--btn-color);
}

.btn-close {
  background-color: var(--main-background);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: var(--accent-color);
}

.close {
  width: 18px;
  height: 18px;
}

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.card-btn {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-btn:hover {
  background-color: var(--accent-color);
  color: var(--main-background);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.card-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.project-img {
  width: 100%;
}

.project-overlay-box {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-overlay,
.project-item:focus .project-overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay-text {
  color: var(--main-background);
  width: 322px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
}

.project-box {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.project-title {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.project-text {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: left;
}/*# sourceMappingURL=main.css.map */