$accent-color: #2196f3;
$logo-color: #000;
$text-color: #212121;
$additional-color: #757575;
$footer-number-color: rgba(255, 255, 255, 0.6);
$footer-background: #2f303a;
$team-background: #f5f4fa;
$main-background: #fff;
$svg-color: #AFB1B8;
$second-svg-color: rgba(255, 255, 255, 0.1);
$btn-color: #188CE8;
$line-color: #ECECEC;